body {
    background-color: #444;
    font: 12px verdana, sans-serif; 
    color: #ddd;
}

h1 {
    color: #5cf;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

a {
    color: #5cf; 
    font-weight: bold;
    text-decoration: none;
}

table {
    background-color: #222;
    font-size: 12px;
}

button {
    background-color: #222;
    border-color: #000;
    color: #5cf;
}

button#playpause {
    background-color: #222;
    border-color: #000;
    color: #5cf;
    font-size: 24px;
    font-weight: bold;
}

td.mrcPath {
    /*background-color: #800;*/
    /*border-color: #c00;*/
    color: #ce3;
    font-weight: bold;
    font-style: italic;
}

div#mrcError {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
    background: #000;
    color: #f00;
    /* border: 5px solid #000; */
}

div#mrcMenu {
    background: #222;
    text-align: center;
}

div#mrcPaths {
    /* background: #555; */
    text-align: center;
}

div#mrcControls {
    /*background: #ddd;*/
    text-align: center;
}

